  body {
    font-family: Arial, sans-serif;
    background: #f4f9ff;
    margin: 0;
    padding: 0;
    color: #333;
  }

  header {
    background: #004aad;
    color: white;
    padding: 15px;
    text-align: center;
  }

  .containerq {
    width: 80%;
    margin: auto;
    padding: 20px;
  }

  h3 {
    color: #004aad;
    margin-top: 30px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }

  th {
    background-color: #004aad;
    color: white;
  }

  tr:nth-child(even) { background-color: #e0f2ff; }
  tr:nth-child(odd) { background-color: #ffffff; }

  /* Score Bars */
  .score-bar {
    margin-bottom: 20px;
  }

  .score-bar p {
    margin-bottom: 8px;
    font-weight: bold;
  }

  .bar {
    width: 100%;
    background: #ddd;
    border-radius: 12px;
    overflow: hidden;
    height: 20px;
  }

  .fill {
    height: 100%;
    width: 0%;
    border-radius: 12px;
    transition: width 1s ease-in-out;
  }



  .summary-box table {
    width: 100%;
    border: none;
  }

  .summary-box th {
    background: #004aad;
    color: white;
    padding: 10px;

  }

  .summary-box td {
    padding: 8px;
    font-weight: bold;
  }