<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cyber Security Notes - BCA Notes Hub</title>
<link rel="stylesheet" href="/static/notes.css">
</head>
<body>

<header>
    <h2>BCA Notes Hub - Cyber Security Notes</h2>
</header>

<div class="container">
    <h3 class="section-title">🛡️ Cyber Security Notes</h3>

    <div class="notes-container">
        <!-- Part 1 -->
        <div class="note-card">
            <a href="/static/pdf/cyber1.pdf" target="_blank" class="note-title">🛡️ Part 1 – Basics</a>
            <ul class="note-details">
                <li>Intro of Cyber Security</li>
                <li>Targets and attacks</li>
                <li>Security Management</li>
                <li>Security model according to CIA</li>
                <li>Ways to minimize chances of attacks</li>
                <li>Ethics</li>
                <li>Security Models</li>
                <li>Security Approaches</li>
                <li>Security Principles</li>
                <li>Access Control</li>
            </ul>
            <a href="/static/pdf/cyber1.pdf" download>
          <button class="download-btn">⬇ Download PDF</button>
        </a>
        </div>

        <!-- Part 2 -->
        <div class="note-card">
            <a href="/static/pdf/cyber2.pdf" target="_blank" class="note-title">🔐 Part 2 – Attacks</a>
            <ul class="note-details">
                <li>Eavesdropping attacks</li>
                <li>Eavesdropping Methods</li>
                <li>Attributes and its types</li>
                <li>How to prevent eavesdropping attacks</li>
                <li>Operational and Organizational Security Policies</li>
                <li>Procedures, Standards & Guidelines</li>
            </ul>
            <a href="/static/pdf/cyber2.pdf" download>
          <button class="download-btn">⬇ Download PDF</button>
        </a>
        </div>

        <!-- Part 3 -->
        <div class="note-card">
            <a href="/static/pdf/cyber3.pdf" target="_blank" class="note-title">📜 Part 3 – Cryptography</a>
            <ul class="note-details">
                <li>Cryptography</li>
                <li>Types of Cryptography</li>
                <li>Diffie–Hellman Key Exchange Method</li>
                <li>Hash Function</li>
                <li>Message Digest 5 (MD5)</li>
                <li>SHA1 Algorithm</li>
                <li>Data Encryption Method</li>
                <li>Advanced Encryption Standard (AES)</li>
                <li>Digital Signature</li>
            </ul>
            <a href="/static/pdf/cyber3.pdf" download>
          <button class="download-btn">⬇ Download PDF</button>
        </a>
        </div>
    </div>
</div>

<footer>
    <p>BCA Notes Hub | Designed with ❤ for Students <br>Powered by Muskan and Taranveer Kaur, CS Department, Akal University</p>
  </footer>

</body>
</html>
