<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BCA Notes Hub - Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="dash_body">
  <header>
    <h2>BCA Notes Hub - Dashboard</h2>
  </header>

  <div class="containerq">
    <div class="top-info">
      📚 This website provides free handwritten notes for all BCA subjects at no cost. Access and download notes easily!
    </div>

    <p class="welcome">Welcome, <b>{{ user_name }}</b> 👋</p>

        <div class="card-container">
      <div class="card" onclick="window.location.href='{{ url_for('notes') }}'">
  <h3>📘 Notes</h3>
  <p>Access semester-wise subject notes here.</p>
</div>

<div class="card" onclick="window.location.href='{{ url_for('quiz') }}'">
  <h3>📝 Quiz</h3>
  <p>Practice with random MCQs and test your knowledge.</p>
</div>

<div class="card" onclick="window.location.href='{{ url_for('performance') }}'">
  <h3>📊 My Performance</h3>
  <p>Check your quiz scores and track your progress.</p>
</div>

  </div>

  <footer>
    <p>BCA Notes Hub | Designed with ❤ for Students <br>Powered by Muskan and Taranveer Kaur, CS Department, Akal University</p>
  </footer>
</body>
</html>
