<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BCA Notes Hub - Login</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body class="login_body">
  <div class="login-container">
    <h2>Login to BCA Notes Hub</h2>
    <form action="/login" method="POST">
      <input type="email" placeholder="Enter Email" name="email" required>
      <input type="password" placeholder="Enter Password" name="password" required>
      <button type="submit">Login</button>
    </form>
    <!-- <button class="google-btn">Login with Google</button> -->
    <div class="extra-links">
      <p>Don’t have an account? <a href="{{ url_for('register') }}">Sign Up</a></p>
      <p><a href="#">Forgot Password?</a></p>
    </div>
  </div>
</body>
</html>
