<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Statistics Notes - BCA Notes Hub</title>
<link rel="stylesheet" href="/static/notes.css">

</head>
<body>

<header>
    <h2>BCA Notes Hub - Statistics Notes</h2>
</header>

<div class="container">
    <h3 class="section-title">📚 Statistics Notes</h3>

    <div class="notes-container">
        <!-- Unit 1 -->
        <div class="note-card">
            <a href="/pdf/stat1.pdf" target="_blank" class="note-title">📘 Unit 1 – Introduction</a>
            <ul class="note-details">
                <li>Intro of Statistics</li>
                <li>Types of Statistics</li>
                <li>Variables and its types</li>
                <li>Sampling</li>
                <li>Data collection</li>
                <li>Misuse of Statistics</li>
            </ul>
        </div>

        <!-- Unit 2 -->
        <div class="note-card">
            <a href="/pdf/stat2.pdf" target="_blank" class="note-title">📗 Unit 2 – Frequency</a>
            <ul class="note-details">
                <li>Frequency distribution</li>
                <li>Graphs</li>
            </ul>
        </div>

        <!-- Unit 3 -->
        <div class="note-card">
            <a href="/pdf/stat3.pdf" target="_blank" class="note-title">📙 Unit 3 – Data Representation</a>
            <ul class="note-details">
                <li>Frequency distribution</li>
                <li>Graphs</li>
            </ul>
        </div>

        <!-- Unit 4 -->
        <div class="note-card">
            <a href="/pdf/stat4.pdf" target="_blank" class="note-title">📕 Unit 4 – Probability</a>
            <ul class="note-details">
                <li>Probability</li>
            </ul>
        </div>
    </div>
</div>

<footer>
    <p>BCA Notes Hub | Designed with ❤ for Students <br>Powered by Muskan and Taranveer Kaur, CS Department, Akal University</p>
  </footer>

</body>
</html>
